 .container {
  font-family: 'Open Sans', sans-serif;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#name {
  display: block; 
  width: 100%;
  
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 3px;
  height: 30px; 
  
  box-sizing: border-box;
  margin-bottom: 5px;
}


#email {
  display: block; 
  width: 100%;
  
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 3px;
  height: 30px; 
  
  box-sizing: border-box;
  margin-bottom: 5px;
}

button {
  display: block;
  width: 100%;
  
  color: white;
  background: #3cb878;
  border: none; 
  height: 30px; 
  margin-bottom: 10px;
}

.newsletter-box {
  color: grey;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  
  position: relative;
  
}

.card {
  width: 180px;
  background: #3cb878;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 5px;
  box-shadow: 0px 0px 5px 3px grey;
  
  
}

.card-holder {
  display: flex;
  justify-content: space-between;
/* lehet még flex-start; felx-end; center; space-around;  */
  margin-bottom: 20px;
}



.newsletter-box h3 {
  margin-top: 0px;
  
}

#titel2 {
  color: orange;
}

#terms {
  position: relative;
  top: 1px;
  left: 0px;
}

.closeX {
  position: absolute;
  top: 0px;
  right: 5px; 
  
  cursor: pointer;
}

.questioncircle {
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
  
  background: #3cb878;
  border-radius: 50%;
  text-align: center; 
  
  position: fixed;
  bottom: 10px;
  right: 10px;
}